*.class

*.log

*.jar
*.war
*.ear

/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/.mvn/wrapper/maven-wrapper.jar

/.idea/
*.iml
*.iws

.project
.classpath
.settings/

.vscode/

.DS_Store
Thumbs.db

*.swp
*.swo

/generated-sources/

coverage-reports/

!src/main/resources/
